

.imagen {
    background-image: url(imagenes/fauna_flora.jpg);
    height: 300px;
    padding: 20px;
}

.imagen1{
    width: 500px;
    height: 300px;
    

}

.contenedor{
    justify-content:center;
}
.centro{
    justify-content: center;
}

.imagen2{
    width: 800px;
    height: 300px;

}

.imagen3{
    display: flex;
    justify-content: center;
}
.subimagen3{
    width: 500px;
    margin-left: 25px;
}

.flornoche{
    justify-content: center;

}
.nochebuena{
    width: 400px;

}
.lista{
    display: flex;
    justify-content:center;
}
.numero1{
    width: 500px;  
    margin-left: 50px;
    height: 300px;
}


